body, html {
  background-color: powderblue;

}


p.static {
  position: relative;
  margin-top: 5%;
  width:300px;
}


.glass {
  position: absolute;
  left: 10px;
}

.p1 {
  width:30px;
  height: 10px;
  border-style: solid;
  border-radius: 0px 0px 50% 50%;
  margin:30px auto;
  position:relative;
  background: linear-gradient(0deg, yellow 50%, powderblue 50%);

}

.p2 {
  width: 0px;
  height: 10px;
  border-style: solid;
  margin:-32px auto;
  position:relative;
}

.p3 {
  width: 20px;
  height: 1px;
  border-style: solid;
  border-radius: 50% 50% 0 0;
  margin:30px auto;
  position:relative;
  background-color:black;
}


.dropdown {
  display: inline-block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: black;
  color: white;
  flex-direction: row;

}
.dropdown-content {
  background-color: rgba(0, 0, 0, 1);
  display: none;
  position: absolute;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);

}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #FFFFFF;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}

#menu {
  font-size: 20px;
    margin: 10px;
}
