body {
  background-color: powderblue;
  text-align: center
}
h1 {
  color: blue;
}

p.static {
  position: static;
  border: 3px solid #73AD21;
}
#square {
  width: 20em;
  height: 20em;
  border: 2px inset gray;
  margin-bottom: 1em;
}
